extends layout

block content
    p #{greeting} #{user.name}
    p= text
    p= infos
    p #{mail} #{user.mail}
    p #{password} #{user.resetPassword}
    a(href=loginurl) #{logintext}
    p= grussformel
  