extends layout

block content
    p #{greeting} #{user.name}
    p= text
    p= infos
    p= mail #{user.mail}
    p= password #{user.resetPasswordToken}
    a(href=loginurl) #{logintext}
    p= grussformel
